* {
   margin: 0;
   padding: 0;
   outline: 0;
}

.container {
   width: 90%;
   margin: auto;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
   background-color: #ffffffb0;
}

.logo {
   display: flex;
   align-items: center;
   gap: 10px;
}

.logo>h1 {
   display: flex;
   font-size: 35px;
   font-weight: 700;
}

.logo>h1>span {
   color: #FF42A5;
}

.nav-link {
   display: flex;
   align-items: center;
   gap: 15px;
}

.nav-link>li {
   list-style: none;
   font-size: 25px;
}

.nav-link>li>a {
   text-decoration: none;
   color: black;
}

.follow {
   display: flex;
   gap: 10px;
   background-color: #E7E6E9;
   padding: 10px 20px;
   border-radius: 10px;
}

.youtube {
   color: red;
}

.tittock {
   color: rgb(38, 0, 255);
}

/* banner section style css  */
.banner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-items: center;
}

.banner-title {
   width: 50%;
}

.banner-title>h1 {
   font-size: 35px;
   font-weight: 600;
   margin-bottom: 10px;
}

.banner-title>h2 {
   font-size: 55px;
   font-weight: 600;
   margin-bottom: 10px;
   color: #f349f9;
}

.icon {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 10px;
   color: rgb(36, 35, 35);
}

.button {
   margin-top: 20px;
   display: flex;
   gap: 10px;
}

.sing {
   padding: 10px 20px;
   font-size: 20px;
   font-weight: 700;
   border: none;
   background-color: #FF42A5;
   border-radius: 20px;
   color: white;
}

.rogue {
   padding: 10px 20px;
   font-size: 20px;
   font-weight: 700;
   border: none;
   background-color: #4EC5F7;
   border-radius: 20px;
   color: white;
}

.banner-img {
   width: 50%;
}

.banner-img>img {
   width: 557px;
   height: 400px;
}

/* gamer section style css  */
.gamer-body {
   background-color: #FFF9FC;
   padding: 20px 0;
}

.gamer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.gamer-img {
   width: 50%;
   padding: 15px;
}

.gamer-img>img {
   width: 100%;
}

.gamer-title {
   text-align: right;
}

.gamer-title>h1 {
   color: #f349f9;
   font-size: 35px;
   font-weight: 700;
   padding-bottom: 10px;
}

.gamer-title>p {
   font-size: 20px;
   padding-bottom: 15px;
   margin-bottom: 10px;
}

.gamer-title>div>p {
   font-size: 20px;
   padding-top: 15px;
}

/* funn video section style css  */
.funn-video {
   text-align: center;
   padding: 10px 0;
}

.funn-video>h1 {
   font-size: 35px;
   font-weight: 700;
   margin-bottom: 10px;
}

.funn-img {
   display: flex;
   justify-content: space-between;
   gap: 18px;
   padding-top: 40px;
}

/*  .img-section:hover{
    background-color: gray;
    z-index: -1;
 } */
.img-section {
   width: 261px;
   border: 1px solid gray;
   border-radius: 13px;
   box-shadow: 10px 10px 10px 10px rgba(128, 128, 128, 0.295);
}

.img-section>img {
   width: 100%;
}

.img-section>p {
   text-align: left;
   font-size: 18px;
   font-weight: 600;
   color: rgb(82, 81, 81);
   padding: 10px 5px;
}

/* Instantly section style css  */
.instantly {
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content: space-around;
   padding: 30px 0;
   margin: 20px 0;
}

.instantly-tile {
   width: 40%;
   text-align: center;
}

.instantly-tile>div {
   width: 350px;
   text-align: right;
}

.instantly-tile>div>h1 {
   font-size: 35px;
   font-weight: 800;
   margin-bottom: 20px;
}

.instantly-tile>div>h1>span {
   color: #D84DC5;
}

.instantly-img {
   width: 50%;
   position: relative;
}

.instantly-img>div {
   position: absolute;
   left: -100px;
   bottom: -50px;
}

.instantly-img>div>img {
   width: 80%;
}

.instantly-img>img {
   width: 100%;
}

/* anywhere section style css  */
.anywhere {
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content: space-around;
   padding: 30px 0;
   margin: 20px 0;
}

.anywhere-img {
   width: 50%;
   position: relative;
}

.anywhere-img>div {
   position: absolute;
   right: -100px;
   bottom: -50px;
}

.anywhere-img>div>img {
   width: 80%;
}

.anywhere-img>img {
   width: 100%;
}

.anywhere-tile {
   width: 50%;
}

.anywhere-tile>div {
   text-align: left;
   margin-left: 100px;
}

.anywhere-tile>div>h1 {
   font-size: 35px;
   font-weight: 800;
   margin-bottom: 20px;
}

.anywhere-tile>div>h1>span {
   color: #D84DC5;
}

/* careers section style css  */
.careers-body {
   background-color: #FF42A5;
   padding: 20px 0;
   margin-top: 10px;
}

.careers {
   display: flex;
   align-items: center;
   gap: 10px;

}

.careers-title {
   width: 50%;
   color: white;
}

.careers-title>h1 {
   font-size: 35px;
   font-weight: 700;
   padding-bottom: 10px;
}

.careers-title>p {
   font-size: 18px;
   padding-bottom: 10px;
}

.data-section {
   margin-top: 20px;
}

.data {
   display: flex;
   justify-content: space-between;
   padding-bottom: 10px;
}

.all-positions {
   border: none;
   padding: 10px 20px;
   font-size: 20px;
   border-radius: 20px;
   margin-top: 20px;
   color: rgba(255, 0, 0, 0.685);
}

.careers-img {
   width: 50%;
}

.careers-img>img {
   width: 100%;
}

/* games section style css  */
.new-games {
   margin: 40px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
}

.games {
   display: flex;
   align-items: center;
   gap: 10px;
}

.games>h1 {
   font-size: 18px;
}

/* footer section style css  */
.footer {
   padding: 50px 0;
   color: white;
   background-color: black;

}

.footer-logo {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.footer-logo>h1 {
   display: flex;
   font-size: 35px;
   font-weight: 700;
}

.footer-logo>h1>span {
   color: #FF42A5;
}

.footer-colation {
   margin: 20px 0;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;

}

.footer-socail {
   margin: 20px 0;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;

}

.footer-socail>i {
   font-size: 40px;

}

.footer-detailes {
   margin: 20px 0;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;

}

.footer-detailes>h1 {
   font-size: 25px;
   color: rgba(236, 235, 235, 0.747);
}

.copy {
   text-align: center;
   font-size: 17px;
   color: rgba(236, 235, 235, 0.486);
}

/* responsive style css  */

@media screen and (max-width: 576px) {
   .header {
      flex-direction: column;
      gap: 20px;
      
   }
   .nav-link {
      /* display: flex;
      align-items: center;
      gap: 15px; */
      flex-direction: column;

   }

   .nav-link>li {
      list-style: none;
      font-size: 25px;
   }

   .nav-link>li>a {
      text-decoration: none;
      color: black;
   }

   .follow {
      display: flex;
      gap: 10px;
      background-color: #E7E6E9;
      padding: 10px 20px;
      border-radius: 10px;
   }

   .youtube {
      color: red;
   }

   .tittock {
      color: rgb(38, 0, 255);
   }
}